<div class="ui segment">
  <div class="ui relaxed divided list">
    {{#each model as |message|}}
      <div class="item">
        <i class="large mail middle aligned icon"></i>
        <div class="content">
          <a class="header">{{message.subject}}</a>
          <div class="description">{{message.from}}</div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
