<div class="ui fluid vertical menu">
  <div class="item">
    Folders
    <div class="menu">
      {{#each model as |folder|}}
        {{#unless folder.isNew}}
          {{#link-to 'index.folder' folder.id class='item'}}
            {{folder.name}}
          {{/link-to}}
        {{/unless}}
      {{/each}}
    </div>
  </div>
  <a class="item" {{action 'showNewDialog'}}>
    <i class="plus icon"></i>
    New Folder
  </a>
</div>

{{#modal-dialog
  title='New Folder'
  visible=newVisible
  loading=newLoading
  getPromise=(action 'getNewPromise')
}}
  <div class="ui form">
    <div class="field">
      <div class="ui fluid input">
        {{input placeholder='Name' value=newFolderName disabled=newLoading}}
      </div>
    </div>
  </div>
{{/modal-dialog}}
