<div class="ui fluid vertical menu">
  {{#link-to 'index.admin.domains' class='item'}}
    <i class="world icon"></i>
    Domains
  {{/link-to}}
  {{#link-to 'index.admin.users' class='item'}}
    <i class="users icon"></i>
    Users
  {{/link-to}}
  {{#link-to 'index.admin.log' class='item'}}
    <i class="browser icon"></i>
    Log
  {{/link-to}}
</div>
