{{global-header}}
<div class="ui grid">
  <div class="four wide column">
    {{admin-sidebar folders=model}}
  </div>
  <div class="twelve wide column">
    {{outlet}}
  </div>
</div>
<div class="ui divider"></div>
