<div class="ui secondary menu">
  <div class="ui dropdown item" tabindex="0">
    bob@example.com
    <i class="dropdown icon"></i>
    <div class="menu" tabindex="-1">
      <div class="item">Action</div>
      <div class="item">Another Action</div>
      <div class="item">Something else here</div>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search">
        <button class="ui button">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical menu">
      <a class="active teal item">
        Inbox
        <div class="ui teal left pointing label">1</div>
      </a>
      <a class="item">
        Spam
        <div class="ui label">51</div>
      </a>
      <a class="item">
        Updates
        <div class="ui label">1</div>
      </a>
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search mail...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    Email goes here.
  </div>
</div>
<div class="ui divider"></div>
