<div class="ui secondary menu">
  <div class="header item">
    <img src="/img/logo.png">
  </div>
  <div class="right item">
    <strong>{{user.username}}</strong>
    <span>&nbsp; | &nbsp;</span>
    <a href="#" {{action 'logout'}}>Logout</a>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui grid">
  <div class="four wide column">
    {{folder-sidebar folders=model}}
  </div>
  <div class="twelve wide column">
    <div class="ui top attached menu">
      <div class="item">
        Subject: Test Email
      </div>
    </div>
    <div class="ui bottom attached segment">
      <p>Email goes here</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales, enim quis commodo faucibus, odio orci rutrum est, a maximus nunc elit sed quam. Nunc non velit eget dui dapibus mattis. In cursus tempus lacus, sed blandit odio ornare sed. Aenean porttitor vulputate diam ac fringilla. Praesent vel leo sed velit vestibulum tempor eget faucibus elit. Vivamus dui tortor, tincidunt sed neque tempor, pellentesque convallis libero. Integer faucibus nibh fermentum est imperdiet facilisis. Vivamus commodo lobortis odio, id facilisis metus tempus quis. Quisque in orci et leo vehicula pretium. Aliquam erat volutpat. Aenean ultrices elit et nulla laoreet, vel pulvinar felis placerat. Nunc interdum turpis et molestie luctus. Nunc eget aliquam dui, eu vestibulum ante. Etiam lobortis pellentesque malesuada.
      </p>
    </div>
  </div>
</div>
<div class="ui divider"></div>
